<% title "My social profiles" %>

<div class="well">
  <div class="navbar navbar-heading">
    <div class="navbar-inner">
      <div class="container">
        <span class="brand">My Social Profiles</span>
        <a href="http://localhost:3000/persons" class="btn btn-mini pull-right"><i class="icon-backward"></i></a>
      </div>
    </div>
  </div>
  <% if @authentications %>
      <% unless @authentications.empty? %>
          <div class="authentications">
            <% for authentication in @authentications %>
                <div class="authentication btn-group">
                  <%= link_to "<i class=\"icon-#{authentication.provider}\"></i> ".html_safe + authentication.provider.titleize,
                              authentication_path(authentication), :class => 'btn btn-af btn-large' %>
                  <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication
                option?', :method => :delete, :class => "remove btn btn-large btn-danger" %>
                </div>
            <% end %>
            <div class="clear"></div>
          </div>
      <% end %>
      <h3>Add another service to sign in with:</h3>
  <% else %>
      <h3>Sign in through one of these services:</h3>
  <% end %>

  <% if not @authentications.collect { |a| a.provider }.include?('twitter') %>
      <a href="/auth/twitter" class="auth_provider btn btn-large">
        <i class="icon-twitter"></i> Twitter
      </a>
  <% end %>

  <% if not @authentications.collect { |a| a.provider }.include?('facebook') %>
      <a href="/auth/facebook" class="auth_provider btn btn-large">
        <i class="icon-facebook-sign"></i> Facebook
      </a>
  <% end %>

  <% if not @authentications.collect { |a| a.provider }.include?('google_apps') %>
      <a href="/auth/google_apps" class="auth_provider btn btn-large">
        <i class="icon-google-plus-sign"></i> Google Plus
      </a>
  <% end %>

  <% if not @authentications.collect { |a| a.provider }.include?('linked_in') %>
      <a href="/auth/linked_in" class="auth_provider btn btn-large">
        <i class="icon-linkedin-sign"></i> Linked In
      </a>
  <% end %>

  <% if not @authentications.collect { |a| a.provider }.include?('github') %>
      <a href="/auth/github" class="auth_provider btn btn-large">
        <i class="icon-github-sign"></i> Github
      </a>
  <% end %>

  <div class="clear"></div>
</div>
