
%table.datatable.table.ajaxed.table-bordered.table-striped{"data-source"=> persons_list_url(format: "json")}
  %thead
    %tr
      %th{:width => 10} <input type="checkbox" class="toggle"/>
      %th Name
      %th Gender
      %th Address
      %th Visits
      %th Published date
  %tbody