- model_class = User

.well
  .navbar.navbar-heading
    .navbar-inner
      .container
        %span.brand=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, :default => "Edit #{model_class.model_name.human}")
        = link_to '<i class="icon-backward"></i>'.html_safe, :back, :class => 'btn btn-mini pull-right'

  = render :partial => "form"
