<div class="well">
  <!-- ** widget header ** -->
  <div class="navbar navbar-heading">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="brand" href="#">User Details</a>
      </div>
    </div>
  </div>
  <!-- ** ./ widget header ** -->

  <!-- ** content ** -->
  <p>User: <%= @user.name %></p>
  <p>Email: <%= @user.email if @user.email %></p>
  <!-- ** ./ content ** -->

</div>
