<div id="home-search" class="span12">
  <h1 id="home-logo">PERSON LOG</h1>
  <h5 class="slogan">All about persons (alive, dead, undead, or fictional)</h5>
  <form class="form-search" action="/users/search" method="get" autocomplete="off">
    <div class="input-append">
      <input data-provide="typeahead" type="text" class="typeahead search-query" name="q" placeholder="type here..." value="<%= params['q'] %>">
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
</div>