= content_for :title do 'Developer' end

.span12
  .well
    .navbar.navbar-heading
      .navbar-inner
        .container
          %span.brand Developer

    %p
      Our total site is REST oriented. You can view any url with format like json, xml and html.
      We are working on getting you an API docs.