= content_for :title do 'Terms & Policies' end

.span12
  .well
    .navbar.navbar-heading
      .navbar-inner
        .container
          %span.brand PersonLog Terms & Policies

    %p
      You agree that your use of the PersonLog Platform is governed by the following terms and conditions:

    %p
      %strong Access to PersonLog:
      Upon registration, PersonLog grants you a nontransferable, nonexclusive license to access our databases and the information contained in the databases, for the purpose of performing data verification, person, property and address location and related searches solely for your own internal uses in compliance with these terms and conditions.

    %p
      %strong General Restrictions:
      You agree to use our information only for appropriate, legal purposes, and in compliance with all applicable federal, state and local laws and regulations. Additionally, you agree that our databases and information may not be used to bother, stalk, harass, threaten or embarrass any individual. You may not use the service to look up celebrities or other public persons, or to locate individuals under the age of 18. Information shall not be provided or resold to any other person or entity without our prior written consent. Systematic access to or any extraction of content from our databases, including the use of "bots", "spiders" or "scraping" technology within a browser or browser-like program is strictly prohibited. We prohibit caching, unauthorized hypertext links to the PersonLog databases and the framing of any content available through the PersonLog databases. We reserve the right to disable any unauthorized links or frames. You agree not to reproduce, retransmit, distribute, disseminate, sell, publish, broadcast, or circulate the text, images and/or information received through the PersonLog databases to anyone without our express prior written consent. You may not: (a) use or permit the use of data accessed via the service to prepare a database or a comparison to other databases that are sold, rented, published, or furnished in any manner to a third party; or (b) use or permit the use of the PersonLog databases for the purpose of compiling, enhancing, verifying, supplementing, adding to, deleting from or operating any telemarketing list, direct mail service, mailing list, business directory, or other compilation of information that is sold, rented, published, or furnished in any manner to a third party. All searches of our databases are tracked, and (as noted below) you consent to such tracking and to the provision of all information about your use of our databases to law enforcement and others as may be useful to respond to allegations that our service or information has been misused.

    %p
      %strong Additional Restrictions:
      In the event of using this service for criminal or civil background checks, you should not assume that this data provides a complete or accurate history of any person's criminal or civil history. You should consult state and federal laws before using this information in making decisions on hiring or firing of employees. PersonLog cannot offer legal advice on how to use the information contained in criminal or civil background reports, and is not responsible for any action taken by the customer based on this information. Customers should use extreme caution when interpreting the results of a criminal or civil background search for any type of personal verification. Positive or false matches in criminal or civil searches may not provide confirmation of an individual's criminal or civil background. Proper use of these reports is the responsibility of you, the customer.

    %p
      %strong FCRA Restrictions:
      PersonLog is not a consumer reporting agency as defined in the Fair Credit Reporting Act ("FCRA"), and the information in the PersonLog databases has not been collected in whole or in part for the purpose of furnishing consumer reports, as defined in the FCRA. You shall not use any of our information as a factor in establishing an individual's eligibility for personal credit or insurance or assessing risks associated with existing consumer credit obligations, evaluating an individual for employment, promotion, reassignment or retention (including employment of household workers such as babysitters, cleaning personnel, nannies, contractors, and other individuals), or any other personal business transaction with another individual (including, but not limited to, leasing an apartment).

    %p
      %strong Misuse:
      In the event that PersonLog suspects that the PersonLog databases or our information has been misused, we will contact our suppliers and/or law enforcement agencies (as appropriate) and will provide them with all data needed to conduct an investigation. You consent to the provision of its information (including search key data) for such investigative purposes. You further agree to fully cooperate with all audits of our customers and our systems generally. PersonLog reserves the right to cancel or not offer its service to any user that it deems is inappropriately using its services.

    %p
      %strong Fees and Refund Policy:
      Fees for use of PersonLog are posted on the various search pages. You agree to pay the fees associated with your use of the PersonLog databases by providing us with a valid credit card. You hereby certify that you are an authorized user of the credit card. You understand that we take credit card fraud and non-payment very seriously, and we may work with law enforcement agencies and private parties to address these issues if they occur. We further reserve the right to suspend service to any delinquent account without notice. If you have questions about our fees, please contact us before you complete any search. You are responsible for (and must pay for) all use of our databases made by individuals using your account. If you suspect that unauthorized use of your account is taking place, you must notify us immediately. PersonLog will use reasonable efforts to deliver the information services to its customers, and to compile information gathered from selected public records and other sources; provided, however, customer accepts all information "AS IS". All purchases are final with no refunds. Furthermore, PersonLog accesses and is charged for information controlled by third parties and cannot guarantee the accuracy of the information.

    %p
      %strong Disclaimer Of Warranties:
      The information in the PersonLog databases has been compiled from public records and other proprietary sources for the specific purposes of (1) locating individuals, property and businesses, and/or (2) providing general background information about individuals and businesses for verification purposes. Neither PersonLog nor any of our data suppliers represents or warrants that the Information is current, complete or accurate. Further, various individual records will be unavailable or incomplete due to users electing to either (1) opt out of the PersonLog database pursuant to procedures set forth in our Privacy Policy or (2) suppress otherwise available addresses or phone numbers from reports purchased from PersonLog for personal safety or other privacy related reasons in connection with our TrueRep Terms and Conditions. PersonLog HEREBY DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES REGARDING THE PERFORMANCE OF THE SERVICE AND THE ACCURACY, CURRENCY, OR COMPLETENESS OF THE INFORMATION, INCLUDING (WITHOUT LIMITATION) ALL WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. ADDITIONALLY, UNDER NO CIRCUMSTANCES SHALL WE BE LIABLE TO YOU FOR ANY DAMAGES WHATSOEVER, INCLUDING (WITHOUT LIMITATION) ANY DIRECT, SPECIAL, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, LOST PROFITS, OR ANY OTHER CLAIMS OF YOURS OR THIRD PARTIES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. You assume all risks associated with the use of our databases and information.

    %p
      %strong Indemnification:
      You agree that you shall indemnify and hold harmless PersonLog, its officers, directors, employees and agents, and all entities that have contributed information or data to, or provided services, for the Service, against any and all direct or indirect losses, claims, demands, expenses (including attorneys' fees) or liabilities of whatever nature or kind arising in any way out of your use of the Service or of our databases or of the information and data contained therein. We will promptly notify you of any such claim.

    %p
      %strong Communication:
      PersonLog primarily uses email to communicate with its customers. All confirmation notices, and welcome messages are delivered through electronic communications. PersonLog may periodically communicate service and other suitable updates with its customers via email. Customer requested reports will be made available online for 30 days following purchase in the Manage Account area of the site.

    %p
      %strong Terms:
      The term of this Agreement shall begin on the day that you agree to these terms and shall continue until terminated by either of us upon notice, which may be given by email. The terms of sections 4, 5, 7 and 8 shall survive termination. Additionally, all of the restrictions on use of our information shall continue to apply to information downloaded from PersonLog until all copies of that information are destroyed by you.

    %p
      %strong Waiver of Class Action and Jury Trial and Consent to Binding Arbitration. In any legal proceeding relating to your use of the PersonLog databases, you agree to waive any right you may have to participate in any class, group, or representative proceeding and to waive any right you may have to a trial by jury.
      Any claim, controversy, or dispute that arises under or relates to your use of the PersonLog platform shall be referred by the aggrieved party to binding arbitration under the Commercial Rules.

    %p
      %strong Other Terms:
      This Agreement shall be governed by Washington law. Failure by either of us to insist on the strict performance of any of the terms and conditions of this Agreement in one or more cases shall not be considered a waiver or relinquishment for the future of any such term or condition or of any other term or condition. The terms and conditions set forth here constitute our entire agreement, and any additional or different terms or conditions set forth in any other document, including without limitation any purchase order, shall be of no effect.