body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5em;
    font-size: 13px;
    background-image: url('/assets/always_grey.png');
}

p {
    margin: 0 0 20px;
}

.leftpanel-wrapper .nav > li:last-child a {
    background: none;
}

.features {
    text-align: center;
    margin: 10px;
}

.features a {
    margin: 10px;
}

li.user-container a {
    padding: 0 0 5px 0;
}

.form-actions, form {
    margin-bottom: 0;
}

.pad {
    padding: 5px;
}

.padding {
    padding: 10px;
}

.padded {
    padding: 15px;
}

.typeahead {
    margin-top: 0;
}

#home-search {
    margin: 0px auto;
    text-align: center;
    margin-top: 15%;
}

.alert-message {
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 5px;
    color: #454545;
    line-height: 1em;
    font-weight: normal;
}

#home-logo {
    font-size: 48px;
    font-family: 'Goudy Bookletter 1911', Georgia, serif;
    color: #454545;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

.slogan {
    margin-bottom: 20px;
}

input.typeahead {
    width: 350px;
}

.thumbnails [class*="span"] {
    margin-left: 0;
    margin-right: 28px;
}

.thumbnails li {
    display: inline;
}

.thumbnail a:hover {
    text-decoration: none;
}

.thumbnail .caption h4 {
    margin: 0;
}

.thumbnail .caption {
    padding: 5px;
    margin-left: 120px;
}

.thumbnail a img {
    border: 1px outset #ccc;
    border: 1px outset rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    background: white;
    height: 119px;
}

abbr[title] {
    color: red;
}

.navbar-inner .container .btn {
    margin-right: 10px;
}

#left-bar ul.btn-circle li {
    margin-right: 0px;
}

.circle-container > .active > a:after {
    position: absolute;
    width: 0;
    height: 0;
    top: 30px;
    right: -30px;
    margin-top: -7px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #3d3d3d;
    content: ' ';
}

.navbar .brand {
    padding-left: 10px;
}

ul.thumbnails li:nth-child(3n) {
    margin-right: 0;
}

ul.thumbnails li:hover {
    -moz-box-shadow: 0 8px 8px -5px #999;
    -webkit-box-shadow: 0 8px 8px -5px #999;
    -o-box-shadow: 0 8px 8px -5px #999;
    box-shadow: 0 8px 8px -5px #999
}

label {
    font-weight: bold;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #fdf5ce;
}

.person-heading {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 5px;
}

hr {
    margin: 10px 0
}

#person-details .row-item, #person-details .table {
    margin-bottom: 20px !important;
}

#person-details .location {
    display: block
}

.nav-tabs.nav-stacked > li > a {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.small-avatar {
    margin-top: -8px;
    padding: 1px
}

.datetime, .date {
    width: auto;
}

select, .numeric {
    width: auto;
}

.string {
    width: 400px;
}

.form-horizontal .control-label {
    padding-top: 5px;
}

.com {
    color: #93a1a1;
}

.lit {
    color: #195f91;
}

.pun, .opn, .clo {
    color: #93a1a1;
}

.fun {
    color: #dc322f;
}

.str, .atv {
    color: #D14;
}

.kwd, .linenums .tag {
    color: #1e347b;
}

.typ, .atn, .dec, .var {
    color: teal;
}

.pln {
    color: #48484c;
}

.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

ol.linenums {
    margin: 0 0 0 33px; /* IE indents via margin-left */
}

ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 18px;
    text-shadow: 0 1px 0 #fff;
}

ul.wysihtml5-toolbar {
    margin: 0;
    padding: 0;
    display: block;
}

ul.wysihtml5-toolbar::after {
    clear: both;
    display: table;
    content: "";
}

ul.wysihtml5-toolbar > li {
    float: left;
    display: list-item;
    list-style: none;
    margin: 0 5px 10px 0;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
    font-weight: bold;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
    font-style: italic;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
    text-decoration: underline;
}

ul.wysihtml5-toolbar a.btn.wysihtml5-command-active {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #E6E6E6;
    background-color: #D9D9D99;
    outline: 0;
}

ul.wysihtml5-commands-disabled .dropdown-menu {
    display: none !important;
}

#new_user #user_password.required,
#new_user #user_email.required {
    width: 200px;
}

.help-block, .help-inline {
    min-width: 250px;
    color: #999;
}

.highlight {
    color: #B94A48;
}

.nav i.icon-large.float-right {
    margin-top: 6px;
}

.tag-container {
    text-align: center;
    margin-bottom: 15px;
}

.c-alert.pillow-emboss .alert-message.custom {
    min-height: 24px;
}

.alert-message .span6 .badge.badge-success {
    margin-top: 3px;
}

#skills a, #urls a {
    margin-bottom: 10px;
    margin-right: 10px;
}

#foot-links {
    margin-top: 20px;
}

.accordion.acc-custom .accordion-body.collapse .accordion-inner {
    background-color: #f8f8ff;
}

.accordion.acc-custom .accordion-heading a:hover, {
    background: #6C6C6C;
    background: -moz-linear-gradient(top, #6C6C6C 0%, #505050 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6C6C6C), color-stop(100%, #505050));
    background: -webkit-linear-gradient(top, #6C6C6C 0%, #505050 100%);
    background: -o-linear-gradient(top, #6C6C6C 0%, #505050 100%);
    background: -ms-linear-gradient(top, #6C6C6C 0%, #505050 100%);
    background: linear-gradient(top, #6C6C6C 0%, #505050 100%);
    color: #FEFEFE;
    text-shadow: 0 1px 0 black;
}

.filters .btn-group > .dropdown-toggle {
    margin-left: 5px;
}

.filters .dropdown {
    text-align: right;
}

.info-window {
    background: yellow;
}

.filters a {
    margin-left: 5px;
}

#tag_cloud {
    line-height: 1.6em;

.s {
    font-size: 0.6em;
}

.m {
    font-size: 1.2em;
}

.l {
    font-size: 1.8em;
}

    }

.right-sidebar-fluid li [class*="icon-"] {
    text-align: left;
}

.right-sidebar .nav-tabs.nav-stacked > li > a, .right-sidebar-fluid .nav-tabs.nav-stacked > li > a {
    padding: 7px;
}

.modal-header .close {
    margin-right: -5px;
}

.blue.navbar.navbar-static.nomargin .navbar-inner li.text-link a {
    display: inline-block;
    padding-left: 0;
    color: #000;
    text-shadow: none;
}

.blue.navbar.navbar-static.nomargin .navbar-inner li.text-link {
    color: #000;
    font-family: neuton;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.datepicker {
    margin: 0;
}

.no-border {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px
}

#loader {
    height: 15px;
}

.progress {
    margin-bottom: 0;
}

.purr {
    position: fixed;
    top: 30px;
    right: 100px;
    width: 250px;
    padding: 20px;
    background-color: #FCC;
    border: solid 2px #666;

&:first-letter {
    text-transform: uppercase
}

;
    }

.translation_missing {
    color: red;
}

.right-sidebar-fluid li [class*="icon-"] {
    margin-top: 2px;
}

th {
    font-weight: bold;
}

.modal-header h3 {
    text-transform: uppercase;
}

.dead {
    content: "Dead";
    position: relative;
    padding: 3px 7px;
    font-size: 12px;
    border: 1px solid #ddd;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 0px 4px;
    -moz-border-radius: 0px 4px;
    border-radius: 0px 4px;
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}