%table.datatable.table.ajaxed.table-bordered.table-striped{"data-source"=> moderators_dashboard_url(format: "json")}
  %thead
    %tr
      %th{:width => 10} <input type="checkbox" class="toggle"/>
      %th Name
      %th{:width => 20} Sex
      %th{:width => 250} Address
      %th Visits
      %th Published
      %th{:width => 100}
  %tbody