#foot-links.row-fluid
  .span12
    -#.features
    -#  = link_to 'Sentiment Analysis', page_path("sentiment")
    -#  = link_to 'Background Check',  page_path("background")
    -#  = link_to 'Singularity Check',  page_path("singularity")
    -#  = link_to 'Criminal Records',  page_path("criminal")
    -#  = link_to 'Employee Screening',  page_path("employee")

    .features
      = link_to 'Privacy & Terms', page_path("policies")
      = link_to 'About PersonLog', page_path("about")
      = link_to 'Help',  page_path("help")
      = link_to 'Developer',  page_path("developer")