<% if Rails.env == 'production' %>
    <div id="fb-root"></div>
    <script>
        function loadSocial() {
            //Twitter
            if (typeof (twttr) != 'undefined') {
                twttr.widgets.load();
            } else {
                $.getScript('http://platform.twitter.com/widgets.js');
            }

//    //Google+
//    if (typeof (gapi) != 'undefined') {
//        $(".g-plusone").each(function () {
//            gapi.plusone.render($(this).get(0));
//        });
//    } else {
//        $.getScript('https://apis.google.com/js/plusone.js');
//    }

        }

        window.fbAsyncInit = function () {
            // init the FB JS SDK
            FB.init({
                appId:'301938569919459', // App ID from the App Dashboard
                channelUrl:'/channel.html', // Channel File for x-domain communication
                status:true, // check the login status upon init?
                cookie:true, // set sessions cookies to allow your server to access the session?
                xfbml:true  // parse XFBML tags on this page?
            });

            // Additional initialization code such as adding Event Listeners goes here

        };

        // Load the SDK's source Asynchronously
        // Note that the debug version is being actively developed and might
        // contain some type checks that are overly strict.
        // Please report such bugs using the bugs tool.
        (function (d, debug) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement('script');
            js.id = id;
            js.async = true;
            js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
            ref.parentNode.insertBefore(js, ref);
        }(document, /*debug*/ false));
    </script>
    <p>Share your discovery with your friends!</p>

    <div id="tweet" style="display:inline-block;">
      <a class="twitter-share-button" data-count="horizontal" data-text="<%= yield(:title) %>" data-url="<%= current_url %>" data-via="personlog" data-related="personlog" href="https://twitter.com/share"></a>
    </div>

    <div style="display:inline-block; vertical-align:text-bottom;">
      <div class="fb-like" data-href="<%= current_url %>" data-layout="button_count" data-send="false" data-show-faces="false" data-width="90"></div>
    </div>
<% end %>